<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All">
	<suite-files>
		<suite-file path="scenario/s_base/base_de.xml"></suite-file>
		<suite-file path="scenario/s_base/base_en.xml"></suite-file>
		<suite-file path="scenario/s_base/base_fr.xml"></suite-file>
		<!-- 米兰8周年 -->
		<!-- <suite-file path="scenario/s_8th/cele_de.xml"></suite-file>
		<suite-file path="scenario/s_8th/cele_en.xml"></suite-file>
		<suite-file path="scenario/s_8th/cele_es.xml"></suite-file>
		<suite-file path="scenario/s_8th/cele_fr.xml"></suite-file>
		<suite-file path="scenario/s_8th/cele_it.xml"></suite-file>
		<suite-file path="scenario/s_8th/cele_pt.xml"></suite-file>
		<suite-file path="scenario/s_8th/cele_ru.xml"></suite-file>
		-->
		<!-- 米兰8周年 END-->
	</suite-files>
</suite>